# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
*.env

# IDE/editor configs
.idea/
.vscode/

# Mac/Linux system files
.DS_Store

# Windows system files
Thumbs.db

# Log files
*.log

# Test cache
.pytest_cache/
